#If your Tekken.exe is not up to date, uncomment the appropriate player_data_pointer_offset
#Version 0 (Unpatched .exe)
#player_data_pointer_offset = 0x0337A450
#Version 1 (June 21st Steam patch)
#player_data_pointer_offset = 0x03360450
#Version 2 (July 5th Steam patch)
#player_data_pointer_offset = 0x03362540
#Version 3 (Steam patch 1.05)
#player_data_pointer_offset = 0x033DECC0
#Version 4 (Steam patch 1.08)
#player_data_pointer_offset = 0x033DFC40